header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
    background: url("мопсик.jpg") left / auto 150% no-repeat;
}
nav {
    font-size: 16pt;
    width: 150px;
    float: left;
}
nav a {
    display: block;
    margin: 10px 0px;
}
main {
    margin-left: 170px;
}